.project-new {
    display: flex;
    vertical-align: top;
    padding: 25px;
    flex: 1;
    height: 100%;
    width: 100%;

    form {
        width: 100%;
        input {
            width: 100%;
        }
        button {
            background-color: $submit-green;
            color: white;
            text-align: center;
            margin-top: 8px;
            padding: 8px;
            border: none;
            width: 100%;
        }
        @media (min-width: 601px) {
            margin-top: 30px;
        }
    }

    /**
     * Mobile display
     */
     @media (max-width: 600px) 
     {
         input {
             font-size: 14px;
         }
     }
}