.notification {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.9;
    width: 250px;
    height: 84px;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;

    .title {
        font-weight: bold;
        color: white;
        text-transform: capitalize;
    }

    .message {
        color: white;
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }
}

.notification.success {
    background-color: #6cd46c;
}

.notification.error {
    background-color: #d14c4c;
}

.notification.warning {
    background-color: #d4e258;
}

